src/main/mule/commenproject2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0c330b76-e209-405c-974b-e88106909f6a" >
		<http:listener-connection host="0.0.0.0" port="8011" />
	</http:listener-config>
	<flow name="commenproject2Flow" doc:id="94eda8b7-1d76-4381-80c9-c06ef2cba320" >
		<http:listener doc:name="Listener" doc:id="dbb1ba79-27a1-4479-a47b-9297687adf34" config-ref="HTTP_Listener_config" path="/commenpro"/>
		<logger level="INFO" doc:name="Logger" doc:id="f1222930-faab-4822-bc35-58e339eaae39" message="Gelila"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="43876a0e-aff0-4f8b-a7ff-1b3ce2e271c6" />
	</flow>
</mule>
